@{
    ViewData["Title"] = "Home Page";
}
<script src="/lib/jquery/dist/jquery.min.js"></script>
<div class="text-center">
    <h1 class="display-4">Belicious - A Bookmark App</h1>
    <hr>
</div>

@* @await Component.InvokeAsync("IndexBookmarks") *@
<div id="container"></div>

<script>
    var refreshComponent = function () {
        $.get("/Home/Bookmarks", function (data) { $('#container').html(data); console.log("called") });
    };

    $(function () { window.setInterval(refreshComponent, 1000); });
</script>